@import 'variables.scss';

.form-input {
	.rw-widget-container.rw-state-focus {
		box-shadow: none;
		border-color: $secondaryTextColor;
	}

	.rw-widget {
		&.rw-state-focus {
			.rw-widget-container {
				box-shadow: none;
				border-color: $secondaryTextColor;
			}
		}

		// Calendar
		&.rw-calendar {
			.rw-cell.rw-state-focus,
			.rw-cell.rw-state-focus:hover {
				border-color: $primaryColor;
			}

			.rw-cell.rw-state-selected,
			.rw-cell.rw-state-selected:hover {
				border-color: $primaryColor;
				background-color: $primaryColor;
			}
		}

		// Select and Dropdown
		&.rw-dropdown-list {
			.rw-popup-container {
				.rw-popup-transition {
					.rw-popup {
						ul {
							.rw-list-option.rw-state-focus,
							.rw-list-option.rw-state-focus:hover {
								border-color: $primaryColor;

								&.rw-state-selected {
									background-color: $primaryColor;
								}
							}
						}
					}
				}
			}
		}
	}
}
