@import '../../../style-helpers/variables.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.navbar_desktop,
.navbar_mobile {
	.navbar__list,
	li {
		list-style: none;
		a,
		span {
			cursor: pointer;
			padding: 16px;
			display: block;
			text-decoration: none;
			color: inherit;

			&:not(.submenu__item):hover {
				background: $darkPrimaryColor;
			}
		}
	}

	.navbar__submenu_dropdown {
		list-style: none;
	}
}

.navbar_desktop {
	.navbar__list {
		display: flex;
		li {
			position: relative;
		}
	}
	.navbar__submenu_dropdown {
		position: absolute;
		left: 0;
		right: 0;
	}
}

.right_align {
	justify-content: flex-end;
}
.navbar_mobile_wrapper {
	min-height: 64px;

	.navbar_mobile {
		li {
			.navbar__submenu_dropdown {
				position: static;
			}
		}
	}
}

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	top: 16px;
	left: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: $primaryButtonTextColor;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Make full height for the sidebar */
.bm-menu-wrap {
	position: absolute;
	top: 0;
	left: 0;
}

/* Color/shape of close button cross */
.bm-cross {
	background: $primaryButtonTextColor;
}

/* General sidebar styles */
.bm-menu {
	background: $primaryColor;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: $primaryButtonTextColor;
}

/* Wrapper for item list */
.bm-item-list {
	color: $primaryButtonTextColor;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}
