@import 'variables.scss';

.form-element {
	width: 100%;

	// Form Label
	.form-label {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&.lower {
			align-items: flex-end;
		}

		&.upper {
			align-items: flex-start;
		}

		span {
			margin-left: 4px;
			color: $errorColor;
		}
	}

	// Helper Text
	.form-helper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	// Form Input
	.form-input {
		position: relative;

		// Like the calendar icon in CalendarPicker
		svg {
			position: absolute;
			right: 8px;
			height: 18px;
			top: 10px;

			.icon {
				fill: $primaryColor;
			}
		}

		/** Single Line Input **/
		input {
			width: 100%;
			height: 40px;
			background-color: transparent;
			border: 1px solid $secondaryTextColor;
			font-size: 16px;
			color: $primaryTextColor;
			padding-left: 8px;
			padding-right: 8px;
			caret-color: $primaryColor;
		}

		/** Text Area **/
		textarea {
			width: 100%;
			background-color: transparent;
			border: 1px solid $secondaryTextColor;
			font-size: 16px;
			color: $primaryTextColor;
			padding: 8px;
			caret-color: $primaryColor;
		}

		/** Radios **/
		input[type='radio'] {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 1;

			& + label {
				padding-left: 24px;
				height: auto;
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				font-weight: 400;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 7px;
					left: 0;
					width: 14px;
					height: 14px;
					border: 1px solid $secondaryTextColor;
					border-radius: 50%;
				}
			}

			&:checked + label {
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 10px;
					left: 3px;
					width: 10px;
					height: 10px;
					background-color: $primaryColor;
					border-radius: 50%;
				}
			}
		}

		/** Checkboxes **/
		input[type='checkbox'] {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 1;

			& + label {
				padding-left: 24px;
				height: auto;
				display: inline-block;
				background-position: 0 2px;
				vertical-align: middle;
				cursor: pointer;
				font-weight: 400;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 7px;
					left: 0;
					width: 14px;
					height: 14px;
					border: 1px solid $secondaryTextColor;
				}
			}

			&:checked + label {
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 9px;
					left: 1.5px;
					width: 9.5px;
					height: 5px;
					border-bottom: 3px solid $primaryColor;
					border-left: 3px solid $primaryColor;
					transform: rotate(-45deg);
				}
			}
		}

		/** Dropzone **/
		.dropzone {
			.dropzone-placeholder {
				margin-top: 16px;
				height: 144px;
				border: 1px dashed $secondaryTextColor;
				position: relative;
				cursor: pointer;

				&:hover {
					border-color: $primaryColor;
					background-color: rgba($primaryColor, 0.08);
				}

				svg {
					position: absolute;
					top: -16px;
					left: calc(50% - 16px);
					width: 32px;
					height: 32px;

					circle {
						fill: $primaryColor;
					}
				}
			}
		}

		/** File Preview **/
		.file-preview {
			margin-top: 16px;
			position: relative;
			padding: 8px;

			img {
				max-width: 100%;
				max-height: 45vh;
			}

			svg {
				position: absolute;
				top: -16px;
				right: -16px;
				width: 32px;
				height: 32px;

				circle {
					fill: $primaryColor;
				}
			}

			// For image uploading on mobile
			.rotate-90 {
				transform: rotate(90deg);
			}

			.rotate-180 {
				transform: rotate(180deg);
			}

			.rotate-270 {
				transform: rotate(270deg);
			}

			.flip {
				transform: scaleX(-1);
			}

			.flip-and-rotate-90 {
				transform: rotate(90deg) scaleX(-1);
			}

			.flip-and-rotate-180 {
				transform: rotate(180deg) scaleX(-1);
			}

			.flip-and-rotate-270 {
				transform: rotate(270deg) scaleX(-1);
			}
		}
	}

	// Form Error
	.form-error {
		p {
			color: $errorColor;
		}
	}
}
