/** 
 * Fonts 
 * 
 * You can use fonts directly from Google Fonts or
 * as I prefer, embed them in the project. The reason
 * I like to embed the fonts is because AdBlockers
 * (many of them) prevent media from domain other than
 * the current domain from loading. As a result, Google
 * Fonts can be denied loading due to which our app
 * would be rendered in the default browser font.
 *
 * If you do decide to embed, then first download the 
 * font files and compress them @ https://www.fontsquirrel.com/tools/webfont-generator.
 * You can leave the settings at optimal. Download the 
 * optimised fonts and then put them into the fonts 
 * directory. Use them as demoed in the code below.
 *
 * If you'd rather embed Google Fonts directly, then 
 * you can remove the font-face declarations below and 
 * replace it with the two commented out lines directly  
 * below this:
 *
 * @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700'); <- You'll get this URL from Google Fonts
 * $projectFont = 'Roboto';
 *
 * Then, in the "Style Reset" section below, replace ProjectFont
 * with $projectFont;
 * 
 * That's it!. And as I said before, up to you.
 */
@font-face {
  font-family: ProjectFont;
  src: url("./fonts/sf-pro-display-semibold-webfont.woff2") format("woff2"), url("./fonts/sf-pro-display-semibold-webfont.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: ProjectFont;
  src: url("./fonts/sf-pro-display-regular-webfont.woff2") format("woff2"), url("./fonts/sf-pro-display-regular-webfont.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: ProjectFont;
  src: url("./fonts/sf-pro-display-bold-webfont.woff2") format("woff2"), url("./fonts/sf-pro-display-bold-webfont.woff") format("woff");
  font-weight: 700; }

/** Style Reset **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *:active, *:focus {
    outline: none; }

/** Importing Styles **/
/** Margins **/
.margin-0 {
  margin: 0px !important; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-left-0 {
  margin-left: 0px !important; }

.margin-right-0 {
  margin-right: 0px !important; }

.margin-1 {
  margin: 8px !important; }

.margin-top-1 {
  margin-top: 8px !important; }

.margin-bottom-1 {
  margin-bottom: 8px !important; }

.margin-left-1 {
  margin-left: 8px !important; }

.margin-right-1 {
  margin-right: 8px !important; }

.margin-2 {
  margin: 16px !important; }

.margin-top-2 {
  margin-top: 16px !important; }

.margin-bottom-2 {
  margin-bottom: 16px !important; }

.margin-left-2 {
  margin-left: 16px !important; }

.margin-right-2 {
  margin-right: 16px !important; }

.margin-3 {
  margin: 24px !important; }

.margin-top-3 {
  margin-top: 24px !important; }

.margin-bottom-3 {
  margin-bottom: 24px !important; }

.margin-left-3 {
  margin-left: 24px !important; }

.margin-right-3 {
  margin-right: 24px !important; }

.margin-4 {
  margin: 32px !important; }

.margin-top-4 {
  margin-top: 32px !important; }

.margin-bottom-4 {
  margin-bottom: 32px !important; }

.margin-left-4 {
  margin-left: 32px !important; }

.margin-right-4 {
  margin-right: 32px !important; }

.margin-5 {
  margin: 40px !important; }

.margin-top-5 {
  margin-top: 40px !important; }

.margin-bottom-5 {
  margin-bottom: 40px !important; }

.margin-left-5 {
  margin-left: 40px !important; }

.margin-right-5 {
  margin-right: 40px !important; }

.margin-6 {
  margin: 48px !important; }

.margin-top-6 {
  margin-top: 48px !important; }

.margin-bottom-6 {
  margin-bottom: 48px !important; }

.margin-left-6 {
  margin-left: 48px !important; }

.margin-right-6 {
  margin-right: 48px !important; }

.margin-7 {
  margin: 56px !important; }

.margin-top-7 {
  margin-top: 56px !important; }

.margin-bottom-7 {
  margin-bottom: 56px !important; }

.margin-left-7 {
  margin-left: 56px !important; }

.margin-right-7 {
  margin-right: 56px !important; }

.margin-8 {
  margin: 64px !important; }

.margin-top-8 {
  margin-top: 64px !important; }

.margin-bottom-8 {
  margin-bottom: 64px !important; }

.margin-left-8 {
  margin-left: 64px !important; }

.margin-right-8 {
  margin-right: 64px !important; }

.margin-9 {
  margin: 72px !important; }

.margin-top-9 {
  margin-top: 72px !important; }

.margin-bottom-9 {
  margin-bottom: 72px !important; }

.margin-left-9 {
  margin-left: 72px !important; }

.margin-right-9 {
  margin-right: 72px !important; }

.margin-10 {
  margin: 80px !important; }

.margin-top-10 {
  margin-top: 80px !important; }

.margin-bottom-10 {
  margin-bottom: 80px !important; }

.margin-left-10 {
  margin-left: 80px !important; }

.margin-right-10 {
  margin-right: 80px !important; }

.margin-11 {
  margin: 88px !important; }

.margin-top-11 {
  margin-top: 88px !important; }

.margin-bottom-11 {
  margin-bottom: 88px !important; }

.margin-left-11 {
  margin-left: 88px !important; }

.margin-right-11 {
  margin-right: 88px !important; }

.margin-12 {
  margin: 96px !important; }

.margin-top-12 {
  margin-top: 96px !important; }

.margin-bottom-12 {
  margin-bottom: 96px !important; }

.margin-left-12 {
  margin-left: 96px !important; }

.margin-right-12 {
  margin-right: 96px !important; }

/** Padding **/
.padding-0 {
  padding: 0px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.padding-1 {
  padding: 8px !important; }

.padding-top-1 {
  padding-top: 8px !important; }

.padding-bottom-1 {
  padding-bottom: 8px !important; }

.padding-left-1 {
  padding-left: 8px !important; }

.padding-right-1 {
  padding-right: 8px !important; }

.padding-2 {
  padding: 16px !important; }

.padding-top-2 {
  padding-top: 16px !important; }

.padding-bottom-2 {
  padding-bottom: 16px !important; }

.padding-left-2 {
  padding-left: 16px !important; }

.padding-right-2 {
  padding-right: 16px !important; }

.padding-3 {
  padding: 24px !important; }

.padding-top-3 {
  padding-top: 24px !important; }

.padding-bottom-3 {
  padding-bottom: 24px !important; }

.padding-left-3 {
  padding-left: 24px !important; }

.padding-right-3 {
  padding-right: 24px !important; }

.padding-4 {
  padding: 32px !important; }

.padding-top-4 {
  padding-top: 32px !important; }

.padding-bottom-4 {
  padding-bottom: 32px !important; }

.padding-left-4 {
  padding-left: 32px !important; }

.padding-right-4 {
  padding-right: 32px !important; }

.padding-5 {
  padding: 40px !important; }

.padding-top-5 {
  padding-top: 40px !important; }

.padding-bottom-5 {
  padding-bottom: 40px !important; }

.padding-left-5 {
  padding-left: 40px !important; }

.padding-right-5 {
  padding-right: 40px !important; }

.padding-6 {
  padding: 48px !important; }

.padding-top-6 {
  padding-top: 48px !important; }

.padding-bottom-6 {
  padding-bottom: 48px !important; }

.padding-left-6 {
  padding-left: 48px !important; }

.padding-right-6 {
  padding-right: 48px !important; }

.padding-7 {
  padding: 56px !important; }

.padding-top-7 {
  padding-top: 56px !important; }

.padding-bottom-7 {
  padding-bottom: 56px !important; }

.padding-left-7 {
  padding-left: 56px !important; }

.padding-right-7 {
  padding-right: 56px !important; }

.padding-8 {
  padding: 64px !important; }

.padding-top-8 {
  padding-top: 64px !important; }

.padding-bottom-8 {
  padding-bottom: 64px !important; }

.padding-left-8 {
  padding-left: 64px !important; }

.padding-right-8 {
  padding-right: 64px !important; }

.padding-9 {
  padding: 72px !important; }

.padding-top-9 {
  padding-top: 72px !important; }

.padding-bottom-9 {
  padding-bottom: 72px !important; }

.padding-left-9 {
  padding-left: 72px !important; }

.padding-right-9 {
  padding-right: 72px !important; }

.padding-10 {
  padding: 80px !important; }

.padding-top-10 {
  padding-top: 80px !important; }

.padding-bottom-10 {
  padding-bottom: 80px !important; }

.padding-left-10 {
  padding-left: 80px !important; }

.padding-right-10 {
  padding-right: 80px !important; }

.padding-11 {
  padding: 88px !important; }

.padding-top-11 {
  padding-top: 88px !important; }

.padding-bottom-11 {
  padding-bottom: 88px !important; }

.padding-left-11 {
  padding-left: 88px !important; }

.padding-right-11 {
  padding-right: 88px !important; }

.padding-12 {
  padding: 96px !important; }

.padding-top-12 {
  padding-top: 96px !important; }

.padding-bottom-12 {
  padding-bottom: 96px !important; }

.padding-left-12 {
  padding-left: 96px !important; }

.padding-right-12 {
  padding-right: 96px !important; }

/** Resetters **/
.depad-left {
  margin-left: -8px; }

.depad-right {
  margin-right: -8px; }

/** Backgrounds **/
/** Text **/
/** Alerts **/
.button {
  padding: 16px 20px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid;
  transition: all 160ms ease-in-out;
  border-radius: 100px;
  display: inline-block;
  text-align: center; }
  .button.button-primary {
    background-color: #25ce81;
    color: #fff;
    border-color: #25ce81; }
    .button.button-primary:hover {
      background-color: #1ca067;
      border-color: #1ca067; }
  .button.button-secondary {
    background-color: #f7f8fa;
    color: #9b9b9b;
    border-color: #f7f8fa; }
    .button.button-secondary:hover {
      background-color: #dee2ea;
      border-color: #dee2ea; }
  .button.button-tertiary {
    background-color: transparent;
    color: #25ce81;
    border-color: transparent; }
  .button.button-disabled {
    cursor: not-allowed;
    background-color: #f7f8fa;
    border-color: #f7f8fa;
    color: #9b9b9b; }
  .button.full-width {
    width: 100%; }

/** Backgrounds **/
/** Text **/
/** Alerts **/
.form-element {
  width: 100%; }
  .form-element .form-label {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .form-element .form-label.lower {
      align-items: flex-end; }
    .form-element .form-label.upper {
      align-items: flex-start; }
    .form-element .form-label span {
      margin-left: 4px;
      color: #ff3b30; }
  .form-element .form-helper {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .form-element .form-input {
    position: relative;
    /** Single Line Input **/
    /** Text Area **/
    /** Radios **/
    /** Checkboxes **/ }
    .form-element .form-input svg {
      position: absolute;
      right: 8px;
      height: 18px;
      top: 10px; }
      .form-element .form-input svg .icon {
        fill: #25ce81; }
    .form-element .form-input input {
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: 1px solid #9b9b9b;
      font-size: 16px;
      color: #6f6f6f;
      padding-left: 8px;
      padding-right: 8px;
      caret-color: #25ce81; }
    .form-element .form-input textarea {
      width: 100%;
      background-color: transparent;
      border: 1px solid #9b9b9b;
      font-size: 16px;
      color: #6f6f6f;
      padding: 8px;
      caret-color: #25ce81; }
    .form-element .form-input input[type='radio'] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 1; }
      .form-element .form-input input[type='radio'] + label {
        padding-left: 24px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 400; }
        .form-element .form-input input[type='radio'] + label::before {
          content: '';
          display: block;
          position: absolute;
          top: 7px;
          left: 0;
          width: 14px;
          height: 14px;
          border: 1px solid #9b9b9b;
          border-radius: 50%; }
      .form-element .form-input input[type='radio']:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 3px;
        width: 10px;
        height: 10px;
        background-color: #25ce81;
        border-radius: 50%; }
    .form-element .form-input input[type='checkbox'] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 1; }
      .form-element .form-input input[type='checkbox'] + label {
        padding-left: 24px;
        height: auto;
        display: inline-block;
        background-position: 0 2px;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 400; }
        .form-element .form-input input[type='checkbox'] + label::before {
          content: '';
          display: block;
          position: absolute;
          top: 7px;
          left: 0;
          width: 14px;
          height: 14px;
          border: 1px solid #9b9b9b; }
      .form-element .form-input input[type='checkbox']:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        left: 1.5px;
        width: 9.5px;
        height: 5px;
        border-bottom: 3px solid #25ce81;
        border-left: 3px solid #25ce81;
        transform: rotate(-45deg); }
  .form-element .form-error p {
    color: #ff3b30; }

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .flex.top {
    align-items: flex-start; }
  .flex.center {
    justify-content: center; }
  .flex.end {
    justify-content: flex-end; }
  .flex.bottom {
    align-items: flex-end; }
  .flex.between {
    justify-content: space-between; }
  .flex.col {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .flex.col.top {
      justify-content: flex-start; }
    .flex.col.center {
      align-items: center; }
    .flex.col.end {
      align-items: flex-end; }
    .flex.col.bottom {
      justify-content: flex-end; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex .width-0 {
    width: 0%; }
  .flex .width-10 {
    width: 10%; }
  .flex .width-20 {
    width: 20%; }
  .flex .width-30 {
    width: 30%; }
  .flex .width-40 {
    width: 40%; }
  .flex .width-50 {
    width: 50%; }
  .flex .width-60 {
    width: 60%; }
  .flex .width-70 {
    width: 70%; }
  .flex .width-80 {
    width: 80%; }
  .flex .width-90 {
    width: 90%; }
  .flex .width-100 {
    width: 100%; }

.auto-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**
 * Before doing any changes here, go to index.scss and
 * read the instructions there. Most probably, you would
 * not need to make any changes to this file what-so-ever.
 *
 *
 * If you happen to use to embedded Google Fonts, then you
 * are in the right place. Using the Zeplin's "Style Guide"
 * tab, update the font-weight values below. Apart from that, 
 * no other change is required in this section. 
 *
 * If your project uses really custom font styles - i.e. variable
 * line heights and many different variations of fonts, you can
 * add more styles below but be aware, more styles means more 
 * to manage and take care of.
 *
 * Tag! You're up.
 */
/** Variables **/
/** Backgrounds **/
/** Text **/
/** Alerts **/
h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700; }

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400; }

h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d363b; }

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700; }

body,
p {
  font-size: 16px;
  line-height: 24px; }

label {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #3d363b; }

.helper-text {
  font-size: 14px;
  line-height: 16px;
  color: #9b9b9b; }
  .helper-text.top {
    line-height: 20px; }
  .helper-text.bottom {
    line-height: 16px; }

a {
  text-decoration: none; }

.link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #25ce81; }

.all-caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 28px;
    line-height: 32px; } }

/** Backgrounds **/
/** Text **/
/** Alerts **/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(199, 199, 204, 0.53);
  z-index: 999; }
  .modal .modal-content {
    position: relative;
    width: 450px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 32px 32px 16px 32px; }
    .modal .modal-content .title {
      color: #3b3b3b;
      font-size: 16px; }
    .modal .modal-content .explanation {
      font-size: 13px; }
    .modal .modal-content .close {
      position: absolute;
      top: 16px;
      right: 16px;
      border: none;
      cursor: pointer; }
      .modal .modal-content .close circle {
        fill: #25ce81; }
    .modal .modal-content .input-group {
      width: 100%; }

/** Backgrounds **/
/** Text **/
/** Alerts **/
.form-input .rw-widget-container.rw-state-focus {
  box-shadow: none;
  border-color: #9b9b9b; }

.form-input .rw-widget.rw-state-focus .rw-widget-container {
  box-shadow: none;
  border-color: #9b9b9b; }

.form-input .rw-widget .rw-popup-container .rw-popup {
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.form-input .rw-widget.rw-calendar .rw-cell.rw-state-focus,
.form-input .rw-widget.rw-calendar .rw-cell.rw-state-focus:hover {
  border-color: #25ce81; }

.form-input .rw-widget.rw-calendar .rw-cell.rw-state-selected,
.form-input .rw-widget.rw-calendar .rw-cell.rw-state-selected:hover {
  border-color: #25ce81;
  background-color: #25ce81; }

.form-input .rw-widget.rw-multiselect .rw-widget-picker div ul .rw-multiselect-tag {
  background-color: #25ce81;
  border-color: #25ce81;
  color: #fff;
  font-weight: normal; }
  .form-input .rw-widget.rw-multiselect .rw-widget-picker div ul .rw-multiselect-tag span {
    color: #fff; }

.form-input .rw-widget.rw-multiselect .rw-widget-picker div input {
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
  height: 36px; }
  .form-input .rw-widget.rw-multiselect .rw-widget-picker div input:focus {
    border: none; }

.form-input .rw-widget.rw-dropdown-list .rw-widget-picker, .form-input .rw-widget.rw-multiselect .rw-widget-picker {
  height: 48px;
  border-radius: 0; }

.form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus, .form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover {
  border-color: #25ce81; }
  .form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus.rw-state-selected, .form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover.rw-state-selected, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus.rw-state-selected, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover.rw-state-selected {
    background-color: #25ce81;
    border-color: #25ce81; }

.form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-selected, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-selected {
  background-color: #25ce81;
  border-color: #25ce81; }

* {
  font-family: ProjectFont;
  color: #6f6f6f;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *::selection {
    background: rgba(37, 206, 129, 0.3); }

body {
  background-color: #fff; }

.inverse * {
  color: #fff; }

code {
  font-family: monospace; }

/** For Spinners **/
div[class*='css-'] {
  margin-right: 8px; }
