.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .flex.center {
    justify-content: center; }
  .flex.end {
    justify-content: flex-end; }
  .flex.bottom {
    align-items: flex-end; }
  .flex.col {
    flex-direction: column;
    align-items: flex-start; }
    .flex.col.center {
      justify-content: center; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex .width-0 {
    width: 0%; }
  .flex .width-10 {
    width: 10%; }
  .flex .width-20 {
    width: 20%; }
  .flex .width-30 {
    width: 30%; }
  .flex .width-40 {
    width: 40%; }
  .flex .width-50 {
    width: 50%; }
  .flex .width-60 {
    width: 60%; }
  .flex .width-70 {
    width: 70%; }
  .flex .width-80 {
    width: 80%; }
  .flex .width-90 {
    width: 90%; }
  .flex .width-100 {
    width: 100%; }

.auto-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }
