/** Colors **/
.form-input .rw-widget-container.rw-state-focus {
  box-shadow: none;
  border-color: #adadb0; }

.form-input .rw-widget.rw-state-focus .rw-widget-container {
  box-shadow: none;
  border-color: #adadb0; }

.form-input .rw-widget.rw-calendar .rw-cell.rw-state-focus,
.form-input .rw-widget.rw-calendar .rw-cell.rw-state-focus:hover {
  border-color: #0067ff; }

.form-input .rw-widget.rw-calendar .rw-cell.rw-state-selected,
.form-input .rw-widget.rw-calendar .rw-cell.rw-state-selected:hover {
  border-color: #0067ff;
  background-color: #0067ff; }

.form-input .rw-widget.rw-multiselect .rw-widget-picker div ul .rw-multiselect-tag {
  background-color: #0067ff;
  border-color: #0067ff;
  color: #fff;
  font-weight: normal; }
  .form-input .rw-widget.rw-multiselect .rw-widget-picker div ul .rw-multiselect-tag span {
    color: #fff; }

.form-input .rw-widget.rw-multiselect .rw-widget-picker div input {
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
  height: 36px; }
  .form-input .rw-widget.rw-multiselect .rw-widget-picker div input:focus {
    border: none; }

.form-input .rw-widget.rw-dropdown-list .rw-widget-picker, .form-input .rw-widget.rw-multiselect .rw-widget-picker {
  border-radius: 0;
  border-color: #adadb0; }

.form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus,
.form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus,
.form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover {
  border-color: #0067ff; }
  .form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus.rw-state-selected,
  .form-input .rw-widget.rw-dropdown-list .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover.rw-state-selected, .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus.rw-state-selected,
  .form-input .rw-widget.rw-multiselect .rw-popup-container .rw-popup-transition .rw-popup ul .rw-list-option.rw-state-focus:hover.rw-state-selected {
    background-color: #0067ff; }
