@import 'variables.scss';

.form-input {
	.rw-widget-container.rw-state-focus {
		box-shadow: none;
		border-color: $secondaryTextColor;
	}

	.rw-widget {
		&.rw-state-focus {
			.rw-widget-container {
				box-shadow: none;
				border-color: $secondaryTextColor;
			}
		}

		.rw-popup-container {
			// Uncomment the line below to hide the empty white space above the pop up
			// top: 0;

			.rw-popup {
				border: none;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
			}
		}

		// Calendar
		&.rw-calendar {
			.rw-cell.rw-state-focus,
			.rw-cell.rw-state-focus:hover {
				border-color: $primaryColor;
			}

			.rw-cell.rw-state-selected,
			.rw-cell.rw-state-selected:hover {
				border-color: $primaryColor;
				background-color: $primaryColor;
			}
		}

		// MultiSelect
		&.rw-multiselect {
			.rw-widget-picker {
				div {
					ul {
						.rw-multiselect-tag {
							background-color: $primaryColor;
							border-color: $primaryColor;
							color: #fff;
							font-weight: normal;

							span {
								color: #fff;
							}
						}
					}

					input {
						margin-top: 2px;
						margin-bottom: 2px;
						border: none;
						height: 36px;

						&:focus {
							border: none;
						}
					}
				}
			}
		}

		// Select, MultiSelect and Dropdown
		&.rw-dropdown-list,
		&.rw-multiselect {
			.rw-widget-picker {
				height: 48px;
				border-radius: 0;
			}

			.rw-popup-container {
				.rw-popup-transition {
					.rw-popup {
						ul {
							.rw-list-option {
								&.rw-state-focus,
								&.rw-state-focus:hover {
									border-color: $primaryColor;

									&.rw-state-selected {
										background-color: $primaryColor;
										border-color: $primaryColor;
									}
								}

								&.rw-state-selected {
									background-color: $primaryColor;
									border-color: $primaryColor;
								}
							}
						}
					}
				}
			}
		}
	}
}
