/**
 * Before doing any changes here, go to index.scss and
 * read the instructions there. Most probably, you would
 * not need to make any changes to this file what-so-ever.
 *
 *
 * If you happen to use to embedded Google Fonts, then you
 * are in the right place. Using the Zeplin's "Style Guide"
 * tab, update the font-weight values below. Apart from that, 
 * no other change is required in this section. 
 *
 * If your project uses really custom font styles - i.e. variable
 * line heights and many different variations of fonts, you can
 * add more styles below but be aware, more styles means more 
 * to manage and take care of.
 *
 * Tag! You're up.
 */

/** Variables **/
@import 'variables.scss';

h1 {
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $headingTextColor;
}

button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}

body,
p {
	font-size: 16px;
	line-height: 24px;
}

label {
	font-size: 14px;
	font-weight: 700;
	line-height: 32px;
}

.helper-text {
	font-size: 14px;
	line-height: 16px;
	color: $secondaryTextColor;

	&.top {
		line-height: 20px;
	}

	&.bottom {
		line-height: 16px;
	}
}

.link {
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: $primaryColor;
}

.all-caps {
	text-transform: uppercase;
}

@media only screen and (max-width: 575px) {
	h1 {
		font-size: 28px;
		line-height: 32px;
	}
}
