.four-oh-four{
    display:flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    height: 60%;
}

.four-oh-four h1{
    font-size: 100px;
    margin:0;
    padding:0;
}

