@keyframes loadfbspinner {
    to {transform: rotate(360deg);}
}

.loadfbspinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    border-top: 6px solid #382d30;
    border-right: 6px solid transparent;
    animation: loadfbspinner .5s linear infinite;
}
