/** Backgrounds **/
$primaryColor: #25ce81;
$darkPrimaryColor: #1ca067;
$secondaryColor: #f7f8fa;

/** Text **/
$primaryTextColor: #6f6f6f;
$secondaryTextColor: #9b9b9b;
$headingTextColor: #3d363b;
$primaryButtonTextColor: #fff;

/** Alerts **/
$errorColor: #ff3b30;
$successColor: #4cd964;
$warningColor: #ffcc00;
