/** variables **/
/** header **/
.header {
  padding: 10px; }

/** basic navbar **/
.navbar-responsive__list-item {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  text-align: center; }
  .navbar-responsive__list-item a {
    color: #424242; }
  .navbar-responsive__list-item .submenu-item {
    position: relative;
    padding-bottom: 8px; }
  .navbar-responsive__list-item ul.submenu-items {
    min-width: 100%;
    width: auto;
    position: absolute;
    left: 0;
    top: 44px;
    background: #e0e0e0;
    opacity: 0.9;
    border-color: #e0e0e0; }
    .navbar-responsive__list-item ul.submenu-items li.navbar-responsive__list-item {
      display: block; }

/** Logo Right and Menu Left Tweaking **/
.left-navbar div.bm-menu-wrap {
  left: 0; }

.left-navbar div.bm-burger-button {
  left: 10px; }

.left-navbar div.bm-cross-button {
  left: 10px; }

/** Mobile **/
/** navbar for mobile **/
.navbar-mobile ul.menu-items li.navbar-responsive__list-item {
  display: block;
  text-align: left; }
  .navbar-mobile ul.menu-items li.navbar-responsive__list-item ul.submenu-items {
    position: static; }

/** dropdown **/
.submenu-items {
  border: 1px solid;
  /* optional */
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
  .submenu-items li.navbar-responsive__list-item {
    text-align: left; }

/** hamburger-button **/
.bm-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 5px; }

.bm-cross-button {
  height: 24px;
  width: 24px; }

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

.bm-morph-shape {
  fill: darkblue; }

.bm-burger-bars {
  background: #424242; }

.bm-cross {
  background: #424242; }

.bm-menu {
  background: #e0e0e0; }

/** needed to fix to get full width and height for overlay **/
.bm-overlay {
  top: 0;
  left: 0; }

/** needed to fix extra space at the top **/
.bm-menu-wrap {
  top: 0; }
